USE [master]
GO
/****** Object:  Database [ff]    Script Date: 4/23/2025 6:33:57 PM ******/
CREATE DATABASE [ff]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ff', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ff.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ff_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ff_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ff].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ff]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 4/23/2025 6:33:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[ID] [int] NOT NULL,
	[HoaDonID] [int] NULL,
	[DichVuID] [int] NULL,
	[SoLuong] [int] NULL,
	[ThanhTien] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DichVu]    Script Date: 4/23/2025 6:33:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DichVu](
	[ID] [int] NOT NULL,
	[TenDichVu] [nvarchar](100) NULL,
	[Gia] [decimal](10, 2) NULL,
	[MoTa] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DoanhThu]    Script Date: 4/23/2025 6:33:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoanhThu](
	[ID] [int] NOT NULL,
	[Ngay] [date] NULL,
	[TongDoanhThu] [decimal](10, 2) NULL,
	[LoiNhuan] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 4/23/2025 6:33:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[ID] [int] NOT NULL,
	[KhachHangID] [int] NULL,
	[TongTien] [decimal](10, 2) NULL,
	[Ngay] [datetime] NULL,
	[PhuongThucThanhToan] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 4/23/2025 6:33:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[ID] [int] NOT NULL,
	[Ten] [nvarchar](100) NULL,
	[NgayDangKy] [date] NULL,
	[SoLanSuDung] [int] NULL,
	[DiemThuong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MayTram]    Script Date: 4/23/2025 6:33:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MayTram](
	[ID] [int] NOT NULL,
	[TrangThai] [nvarchar](50) NULL,
	[GioBatDau] [datetime] NULL,
	[GioKetThuc] [datetime] NULL,
	[CauHinh] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChiTietHoaDon] ([ID], [HoaDonID], [DichVuID], [SoLuong], [ThanhTien]) VALUES (1, 1, 1, 2, CAST(30000.00 AS Decimal(10, 2)))
GO
INSERT [dbo].[DichVu] ([ID], [TenDichVu], [Gia], [MoTa]) VALUES (1, N'Nu?c u?ng', CAST(15000.00 AS Decimal(10, 2)), N'Trà s?a du?ng den')
GO
INSERT [dbo].[DoanhThu] ([ID], [Ngay], [TongDoanhThu], [LoiNhuan]) VALUES (1, CAST(N'2025-04-22' AS Date), CAST(50000.00 AS Decimal(10, 2)), CAST(25000.00 AS Decimal(10, 2)))
GO
INSERT [dbo].[HoaDon] ([ID], [KhachHangID], [TongTien], [Ngay], [PhuongThucThanhToan]) VALUES (1, 1, CAST(50000.00 AS Decimal(10, 2)), CAST(N'2025-04-22T00:00:00.000' AS DateTime), N'Ti?n m?t')
GO
INSERT [dbo].[KhachHang] ([ID], [Ten], [NgayDangKy], [SoLanSuDung], [DiemThuong]) VALUES (1, N'Nguy?n Van A', CAST(N'2025-04-22' AS Date), 5, 100)
GO
INSERT [dbo].[MayTram] ([ID], [TrangThai], [GioBatDau], [GioKetThuc], [CauHinh]) VALUES (1, N'Tr?ng', NULL, NULL, N'Intel i5, RAM 16GB, GTX 1660')
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT ((0)) FOR [SoLanSuDung]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT ((0)) FOR [DiemThuong]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD FOREIGN KEY([DichVuID])
REFERENCES [dbo].[DichVu] ([ID])
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD FOREIGN KEY([HoaDonID])
REFERENCES [dbo].[HoaDon] ([ID])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([KhachHangID])
REFERENCES [dbo].[KhachHang] ([ID])
GO
USE [master]
GO
